@import "tailwindcss";

* {
  /* overflow: hidden; */
}

:root {
  --bg-primary-color: #f5f6f7;
  --bg-secondary-color: #c1c4c8;
  --bg-tertiary-color: #3f2b7b;
  --text-primary-color: #2b2e33;
  --text-secondary-color: #626569;
}

@theme {
  --font-bricol-med: "bricol-med";
  --font-bricol-bold: "bricol-bold";
  --font-bricol-extra-bold: "bricol-extraBold";
  --font-bricol-regular: "bricol-regular";
  --font-bricol-light: "bricol-light";

  --font-neu-semibold: "neu-semibold";
  --font-neu-black: "neu-black";
}

@font-face {
  font-family: "bricol-med";
  src: url("./assets/fonts/BricolageGrotesque10pt-Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bricol-bold";
  src: url("./assets/fonts/BricolageGrotesque48pt-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bricol-extraBold";
  src: url("./assets/fonts/BricolageGrotesque48ptCondensed-ExtraBold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neu-semibold";
  src: url("./assets/fonts/neuemetananext-semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neu-black";
  src: url("./assets/fonts/neuemetananextoutline-black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bricol-regular";
  src: url("./assets/fonts/BricolageGrotesque10pt-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bricol-light";
  src: url("./assets/fonts/BricolageGrotesque10pt-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0;
}

p {
  color: var(--text-secondary-color);
  font-weight: 500;
}

button {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  /* border: none; */
}

button:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2); */
}

button:active {
  transform: translateY(1px) scale(0.97);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
}
.purple-button:hover {
  background-color: #332264;
}
.purple-button:active {
  background-color: #2a1c52;
}
.white-button:hover {
  background-color: #f3f1f8;
}
.white-button:active {
  background-color: #e9e6f1;
}
